body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(/Content/worldMap.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#myCanvas {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
} 


