body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url(/Content/worldMap.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#myCanvas {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
} 


